@import "styles/_variables.scss";

.swap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.loader {
  color: $primaryColor;
  font-size: 18px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 32px;
  background-color: $secondaryColor;
  border-radius: 32px;
  width: 450px;
  color: $primaryColor;
}

.cardTitle {
  font-size: 22px;
  text-align: center;
}

.value {
  margin-left: 8px;
}

.firstSelect {
  margin-right: 4px;
}